/* Empty. Add your own CSS if you like */

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background: white;
}
.subtitle{
    width: 100%;
    text-align: center;
    color: white;
    padding-top: 5px;
    font-size: 15px;
    margin-bottom: 5px;
}
.bg_vote{
    background-image: url('../img/background_vote.png');
    background-attachment: local;
    background-size: 100% 100%;
    height: 225px;
}
.container_two_trash{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.half_trash{
    width: 83%;
    height: 100%;
    margin-left: 6%;
}
.row_name{
    width: 100%;
    display: inline-flex;
}
.size_name{
    width: 50%;
    text-align: center;
    color: white;
}
.bg_vote2{
    margin-top: 5px;
    background-image: url('../img/fond2.png');
    background-attachment: local;
    background-size: 100% 100%;
    height: auto;
    padding-bottom: 15px;
}
.first_vote{
    width: 100%;
    margin-top: 10px;
}
.button_vote{
    padding: 5px 10px;
    border: 1px solid black;
    width: 24%;
    margin: auto;
    margin-top: -12px;
    background-color: #d8d8d8;
}
.separation{
    width: 100px;
    height: 2px;
    background-color: black;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

/*------ MAP -------*/
.bg_map{
    background-image: url('../img/fondmap.png');
    background-attachment: local;
    background-size: 100% 100%;
    height: auto;
}
.container_name_battle{
    width: 100%;
    display: inline-flex;
    margin: auto;
    text-align: center;
}
.half_size_name{
    width: 75%;
    margin-top: 15px;
}
.green{
    color: #47683e;
    font-size: 28px;
}
.red{
    color: #bc3b2a;
    font-size: 21px;
}
.container_inline_trash{
    display: inline-flex;
    text-align: center;
    padding-top: 16px;
}
.size_trash{
    width: 44%;
    width: 75%;
}
.vs_size{
    width: 64%;
    margin-top: 62px;
}
.inline_row_stats{
    width: 100%;
    display: inline-flex;

}
.green_stat{
    width: 85%;
    height: 7px;
    background-color: #3d5638;
}
.red_stat{
    width: 15%;
    height: 7px;
    background-color: #bc3b2a;
}
.container_inline_trash_stats{
    display: inline-flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;

}
.contribution{
    width: 100%;
    text-align: center;
    color: white;
}
.custom_button_kg{
    padding: 5px 10px;
    background-color: black;
    width: 70%;
    margin: auto;
}
.size_p_button{
    font-size: 12px;
    margin: 0;
}
.rectif{
    font-size: 16px;
}
.half_number{
    width: 50%;
    text-align: center;
    /*margin: auto;*/
}
.inline_flex{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

}
/*----- MAP --------*/
.first_part_map{
    width: 100%;
    background-image: url('../img/nouscontacter.png');
    background-attachment: local;
    background-size: 100% 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: baseline;
}
.text_opacity_end{
    display: flex;
    height: 60px;
    width: 100%;
    opacity: 0.7;
    color: #232525;
    background-color: #86d4d9;
    padding-left: 3px;
}
.flex_row_print_map{
    display: flex;
    border-bottom: 1px solid #d8d8d8;
}
.size_left_part{
    width: 70%;
}
.size_right_part{
    width: 30%;
    text-align: center;
}
.size_card{
    width: 94%;
    margin-top: 3px;
}