

<ion-view class="color_header_vote" view-title="vote" name="vote">
    <ion-content class="padding">
        <div style="width: 100%;">
            <div class="bg_vote">
                <div class="subtitle">Prochaine battle</div>
                <div class="container_two_trash">
                    <div>
                        <img class="half_trash" src="img/versus.png">
                    </div>
                    <div class="row_name">
                        <div class="size_name">K'Ptaine U.S.</div>
                        <div class="size_name">Hi Run Man</div>
                    </div>
                </div>
            </div>
            <div class="bg_vote2">
                <div>
                    <div class="subtitle">Voter pour la prochaine battle</div>
                    <div>
                        <img class="first_vote" src="img/realvsfcb.png">
                    </div>
                    <div class="button_vote">VOTER</div>
                </div>
                <div class="separation"></div>
                <div>
                    <div>
                        <img class="first_vote" src="img/naruto.png">
                    </div>
                    <div class="button_vote">VOTER</div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>