<ion-view view-title="map" name="map">
    <ion-content class="padding bg_map">
        <div class="subtitle green">En ce moment !</div>
        <div class="subtitle red">Vous pouvez apercevoir</div>

        <div class="container_name_battle">
            <div>
                <img class="half_size_name" src="img/serp_ai.png">
            </div>
            <div>
                <img class="half_size_name" src="img/gryff_ai.png">
            </div>
        </div>
        <div class="container_inline_trash">
            <div>
                <img class="size_trash" src="img/serpentard.png">
            </div>
            <div>
                <img class="vs_size" src="img/vs.png">
            </div>
            <div>
                <img class="size_trash" src="img/gryffondor.png">
            </div>
        </div>
        <div class="inline_row_stats">
            <div class="inline_row_stats">
                <div class="green_stat"></div>
                <div class="red_stat"></div>
            </div>
            <!--<div>
                <div>85%</div>
                <div>15%</div>
            </div>-->
        </div>
    </ion-content>
</ion-view>