<ion-view view-title="MAP" name="map">
    <ion-content >

        <div class="first_part_map">
            <div class="text_opacity_end" >Rejoins la communauté 2T1B !<br>
                Pour nous trouver, rien de plus simple:<br>
                Voici la liste de nos battles sur Paris.<br>
            </div>
        </div>
        <div class="flex_row_print_map">
            <div class="size_left_part">
                <div>1</div>
                <div>1</div>
            </div>
            <div class="size_right_part">
                <img class="size_card" src="img/republique.png">
            </div>
        </div>
        <div class="flex_row_print_map">
            <div class="size_left_part">
                <div>1</div>
                <div>1</div>
            </div>
            <div class="size_right_part">
                <img class="size_card" src="img/tuillerie.png">
            </div>
        </div>
        <div class="flex_row_print_map">
            <div class="size_left_part">
                <div>1</div>
                <div>1</div>
            </div>
            <div class="size_right_part">
                <img class="size_card" src="img/ilecite.png">
            </div>
        </div>

    </ion-content>
</ion-view>